<header></header>
<div class="container">
	<div class="contact-form">
		<div class="contact-wrap">

			<form method="POST" id="contactForm" name="contactForm">
			            <span class="title">Veuillez renseigner votre numéro de ticket</span>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input name="nbrticket" class="form-control" id="nbrticket" cols="30" rows="7" placeholder="Numéro de ticket">
						</div>
					</div>
					<div class="col-md-12" style="text-align: center;">
						<div class="form-group">
							<input type="submit" value="Envoyer" class="btn">
							<div class="submitting"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<footer></footer>
